.var-box {
    padding: 8px 12px;
    display: inline-block;
    margin: 5px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    position: relative;
}

.delete-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 5px;
    color: #fff;
    background-color: #f00;
    border: none;
    cursor: pointer;
}

.add-var-box, .var-code-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-var-box input[type="text"], .var-code-box input[type="text"] {
    margin-right: 8px;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1.5px solid lightgrey;
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
}

.add-var-box input[type="text"] {
    width: 260px;
}

.var-code-box input[type="text"] {
    margin-left: 8px;
    width: 80px;
}

.add-var-box button, .var-code-box button {
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #1f1f1f;
    background-color: #fffff0;
    border: none;
    box-shadow: 0 0 5px 0 #e0e0e0;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}

.add-var-box button:hover, .var-code-box button:hover {
    box-shadow: 0 0 10px 0 #c1c1c1;
    transform: scale(1.03);
}

.var-code-box p {
    font-size: 18px;
}

/* input[type="text"] {
    margin-right: 5px;
} */
