@media (max-width: 968px) {
    .top-line {
        height: 56px;
    }
}

.var-box {
    display: inline-block;
    margin: 10px;
    font-size: 18px;
    position: relative;
    box-shadow: 0 0 10px 0 #e0e0e0;
    background-color: #fbfaf9;
    border-radius: 8px;
    cursor: pointer;
}

.var-box p {
    margin: 0;
    padding: 12px 16px;
}

.delete-btn {
    position: absolute;
    top: -6px;
    right: -6px;
    padding: 3px 5px;
    color: #fff;
    background-color: darkorange;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 0.8;
    box-shadow: 0 0 10px 0 #e0e0e0;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.delete-btn:hover {
    box-shadow: 0 0 15px 0 #c1c1c1;
    transform: scale(1.05);
}

.add-var-box, .var-code-box, .list-name-box, .input-code-box, .input-name-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-var-box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-var-box input[type="text"], .var-code-box input[type="text"], .list-name-box input[type="text"], .input-code-box input[type="text"], .input-name-box input[type="text"] {
    margin-right: 8px;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1.5px solid lightgrey;
    font-size: 18px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    outline: none;
}

.add-var-box input[type="text"] {
    width: 260px;
}

.var-code-box input[type="text"], .input-code-box input[type="text"] {
    margin-left: 8px;
    width: 80px;
}

.list-name-box input[type="text"], .input-name-box input[type="text"] {
    margin-left: 8px;
    width: 220px;
}

.add-var-box button, .var-code-box button, .list-name-box button, .input-code-box button, .input-name-box button {
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #1f1f1f;
    background-color: #fffff0;
    border: none;
    box-shadow: 0 0 5px 0 #e0e0e0;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}

.add-var-box button:hover, .var-code-box button:hover, .list-name-box button:hover, .input-code-box button:hover, .input-name-box button:hover {
    box-shadow: 0 0 10px 0 #c1c1c1;
    transform: scale(1.03);
}

.var-code-box p, .list-name-box p, .input-code-box p, .input-name-box p {
    font-size: 22px;
}

.var-code-act, .list-name-act, .input-code-act, .input-name-act {
    font-size: 24px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    margin-left: 8px;
}

.var-code-box img, .list-name-box img, .input-code-box img, .input-name-box img {
    height: 24px;
    margin-left: 5px;
    transition: transform 0.2s ease-in-out;
}

.var-code-box img:hover, .list-name-box img:hover, .input-code-box img:hover, .input-name-box img:hover {
    cursor: pointer;
    transform: scale(1.3);
}

.var-container {
    min-height: 68px;
    padding: 0 20px;
}

.save-list-btn, .save-input-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 12px;
    font-size: 24px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    color: #1f1f1f;
    background-color: #fffff0;
    border: none;
    box-shadow: 0 0 5px 0 #e0e0e0;
    transition: box-shadow 0.3s, transform 0.3s;
    cursor: pointer;
}

.save-list-btn:hover, .save-input-btn:hover {
    box-shadow: 0 0 10px 0 #c1c1c1;
    transform: scale(1.03);
}
