<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scripts/dragula/dragula.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/stylesheet.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/add_inputs_variables.css') }}">
    </head>
    <body>
        <div class="top-line"></div>
        <a class="main-menu-btn" href="{{ url_for('index') }}">Main Menu</a>
        <a class="edit-base-btn" href="{{ url_for('edit_base') }}">Back</a>
        <h1 class="page-title">{% if edit %}Edit{% else %}New{% endif %} Variables List</h1>
        <div class="center-wrapper">
            <div class="main-container" style="max-width: 1000px;">
                <div class="section-container">
                    {% if edit %}
                    <form action="{{ url_for('edit_variables', slug=slug) }}" method="post">
                    {% else %}
                    <form action="{{ url_for('add_variables') }}" method="post">
                    {% endif %}
                        <div class="list-name-box">
                            <p>List name:</p>
                            <input {% if edit %}style="display: none;" {% endif %}type="text" id="list-name-input" />
                            <input type="hidden" id="list-name-act-input" name="list-name-act-input" {% if edit %}value="{{ list_name }}" {% endif %}/>
                            <div {% if not edit %}style="display: none;" {% endif %}class="list-name-act" id="list-name-act">{% if edit %}{{ list_name }}{% endif %}</div>
                            <img {% if not edit %}style="display: none;" {% endif %}id="edit-list-name-btn" onclick="editListName()" src="{{ url_for('static', filename='images/pencil.png') }}" alt="edit">
                            <button {% if edit %}style="display: none;" {% endif %}type="button" id="list-name-btn" onclick="addListName()">Add</button>
                        </div>
                        <p style="margin: 0; transform: translateY(8px); font-style: italic;{% if edit %} display: none;{% endif %}" id="var-code-mes">Always begins with **. Let's keep it simple by using <span id="var-code-mes-lc">only lowercase letters</span>, <span id="var-code-mes-min">at least 2</span>.</p>
                        <div class="var-code-box">
                            <p>Type code:</p>
                            <input {% if edit %}style="display: none;" {% endif %}type="text" value="**" id="var-code-input" />
                            <input type="hidden" id="var-code-act-input" name="var-code-act-input" {% if edit %}value="{{ type_code }}" {% endif %}/>
                            <div {% if not edit %}style="display: none;" {% endif %}class="var-code-act" id="var-code-act">{% if edit %}{{ type_code }}{% endif %}</div>
                            <img {% if not edit %}style="display: none;" {% endif %}id="edit-var-code-btn" onclick="editVarCode()" src="{{ url_for('static', filename='images/pencil.png') }}" alt="edit">
                            <button {% if edit %}style="display: none;" {% endif %}type="button" id="var-code-btn" onclick="addVarCode()">Add</button>
                        </div>
                        <div class="add-var-box">
                            <input type="text" id="var-input" placeholder="Variable to add" />
                            <button type="button" id="var-btn" onclick="addVar()">Add</button>
                        </div>
                        <div class="var-container" id="var-container">
                            {% if edit %}
                                {% for var in values %}
                                    <div class="var-box">
                                        <p>{{ var }}</p>
                                        <input type="hidden" name="variables[]" value="{{ var }}" />
                                        <button class="delete-btn" type="button">x</button>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                        {% if edit %}
                            <script>
                                document.querySelectorAll('.delete-btn').forEach(function(btn) {
                                    btn.addEventListener('click', function() {
                                        btn.parentElement.remove();
                                    });
                                });
                            </script>
                        {% endif %}
                        <input class="save-list-btn" id="save-list-btn" type="submit" value="Save List" />
                    </form>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='scripts/dragula/dragula.min.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/add_variables.js') }}"></script>
    </body>
</html>
