<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scripts/dragula/dragula.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/stylesheet.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/add_inputs_variables.css') }}">
    </head>
    <body>
        <div class="top-line"></div>
        <a class="main-menu-btn" href="{{ url_for('index') }}">Main Menu</a>
        <a class="edit-base-btn" href="{{ url_for('edit_base') }}">Back</a>
        <h1 class="page-title">{% if edit %}Edit{% else %}New{% endif %} Input</h1>
        <div class="center-wrapper">
            <div class="main-container" style="max-width: 1000px;">
                <div class="section-container">
                    <form action="{{ url_for('add_input') }}" method="post">
                        <div class="input-name-box">
                            <p>Input name:</p>
                            <input {% if edit %}style="display: none;" {% endif %}type="text" id="input-name-input" />
                            <input type="hidden" id="input-name-act-input" name="input-name-act-input" {% if edit %}value={{ input_name }} {% endif %}/>
                            <div {% if not edit %}style="display: none;" {% endif %}class="input-name-act" id="input-name-act">{% if edit %}{{ input_name }}{% endif %}</div>
                            <img {% if not edit %}style="display: none;" {% endif %}id="edit-input-name-btn" onclick="editInputName()" src="{{ url_for('static', filename='images/pencil.png') }}" alt="edit">
                            <button {% if edit %}style="display: none;" {% endif %}type="button" id="input-name-btn" onclick="addInputName()">Add</button>
                        </div>
                        <p style="margin: 0; transform: translateY(8px); font-style: italic;{% if edit %} display: none;{% endif %}" id="input-code-mes">Always begins with ##. Let's keep it simple by using <span id="input-code-mes-lc">only lowercase letters</span>, <span id="input-code-mes-min">at least 2</span>.</p>
                        <div class="input-code-box">
                            <p>Type code:</p>
                            <input {% if edit %}style="display: none;" {% endif %}type="text" value="##" id="input-code-input" />
                            <input type="hidden" id="input-code-act-input" name="input-code-act-input" {% if edit %}value={{ type_code }} {% endif %}/>
                            <div {% if not edit %}style="display: none;" {% endif %}class="input-code-act" id="input-code-act">{% if edit %}{{ type_code }}{% endif %}</div>
                            <img {% if not edit %}style="display: none;" {% endif %}id="edit-input-code-btn" onclick="editInputCode()" src="{{ url_for('static', filename='images/pencil.png') }}" alt="edit">
                            <button {% if edit %}style="display: none;" {% endif %}type="button" id="input-code-btn" onclick="addInputCode()">Add</button>
                        </div>
                        <input class="save-input-btn" id="save-input-btn" type="submit" value="Save Input" />
                    </form>
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='scripts/dragula/dragula.min.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/add_input.js') }}"></script>
    </body>
</html>
