<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='scripts/dragula/dragula.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/stylesheet.css') }}">
    </head>
    <body>
        <div class="top-line"></div>
        <a class="main-menu-btn" href="{{ url_for('index') }}">Main Menu</a>
        <h1 class="page-title">Your Base Data</h1>
        <div class="center-wrapper">
            <div class="main-container">
                <div class="section-container two-fifths">
                    <div class="add-position">
                        <h1 class="sub-title">Your Inputs</h1>
                        <a class="add-btn-input" href="{{ url_for('add_input') }}">
                            <img class="plus-sign" src="static/images/plus_2795.png" alt="Add input">
                        </a>
                        <div class="add-flex" id="reorder-inputs">
                            {% for input in inputs %}
                                <a class="input-click-box" href="">
                                    <h1 style="margin: 12px 0;"><strong style="color: black; text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);">{{input.code}}</strong> - {{input.name}}</h1>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div style="height: 15px;"></div>
                    <div class="add-position">
                        <h1 class="sub-title">Your Variables</h1>
                        <a class="add-btn-var" href="{{ url_for('add_variables') }}">
                            <img class="plus-sign" src="static/images/plus_2795.png" alt="Add variable">
                        </a>
                        <div class="add-flex" id="reorder-variables">
                            {% for variables in variables_sets %}
                                <a class="variables-click-box" href="">
                                    <h1 style="margin: 12px 0;"><strong style="color: black; text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.3);">{{variables.code}}</strong> - {{variables.name}}</h1>
                                    <div class="variables-list-box">
                                        {% for variable in variables.values %}
                                            <p>{{variable}}</p>
                                        {% endfor %}
                                    </div>
                                </a>
                            {% endfor %}
                        </div>
                    </div>
                    <div style="height: 15px;"></div>
                </div>
                <div class="section-container three-fifths">
                    <h1 class="sub-title">Your Paragraphs</h1>
                    <a class="add-btn-par" href="{{ url_for('add_paragraph') }}">
                        <img class="plus-sign" src="static/images/plus_2795.png" alt="Add paragraph">
                    </a>
                    <div class="add-flex" id="reorder-paragraphs">
                        {% for paragraph in paragraphs %}
                            <a class="paragraph-click-box" href="">
                                <h1>{{ paragraph.name }}</h1>
                                <p class="emphasise-vars">{{ paragraph.text }}</p>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='scripts/dragula/dragula.min.js') }}"></script>
        <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
    </body>
</html>