<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/stylesheet.css') }}">
    </head>
    <body>
        <h1 class="page-title">Cover Letter Helper</h1>
        <div class="center-wrapper">
            <div class="main-container" style="max-width: 1000px;">
                <div class="section-container">
                    <a class="big-btn-box" href="{{ url_for('base.edit_base') }}">Edit Base Wording, Skillsets and Variables</a>
                    <h1 class="sub-title">Your Cover Letters</h1>
                    {% for cover_letter in cover_letters %}
                        <a class="med-btn-box" href="">{{cover_letter.name}}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </body>
</html>